.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.single-price-grid {
	display: grid;
	grid-template-columns: minmax(295rem, 460rem);
	grid-template-rows: repeat(3, auto);
	width: fit-content;
	border-radius: 5rem;
	box-shadow: 0 15rem 30rem 0 rgba(0, 81, 171, 0.15);
	background: var(--white);
	margin: 72rem 32rem 62rem;

	@media (width >= 768px) {
		grid-template-columns: repeat(2, 318rem);
		grid-template-rows: repeat(2, auto);
	}
}

.single-price-grid__join-community {
	grid-column: 1 / -1;
	grid-row: 1 / 2;

	@media (width >= 768px) {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}
}

.single-price-grid__subscription {
	grid-column: 1 / -1;
	grid-row: 2 / 3;

	@media (width >= 768px) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}

.single-price-grid__why-us {
	grid-column: 1 / -1;
	grid-row: 3 / 4;

	@media (width >= 768px) {
		grid-column: 2 / 3;
		grid-row: 2/ 3;
	}
}

.join-community {
	padding: 28rem 24rem 32rem 24rem;

	@media (width >= 768px) {
		padding: 40rem;
	}
}


.join-community__title {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 20rem;
	letter-spacing: -0.01em;
	color: var(--island-aqua);
	margin-bottom: 24rem;

	@media (width >= 768px) {
		font-size: 24rem;
	}
}

.join-community__subtitle {
	display: block;
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 15rem;
	line-height: 133%;
	letter-spacing: -0.01em;
	color: var(--acid-lime);
	margin-bottom: 16rem;

	@media (width >= 768px) {
		font-size: 18rem;
		margin-bottom: 11rem;
	}
}

.join-community__text {
	font-family: var(--font-family), sans-serif;
	font-weight: 300;
	font-size: 14rem;
	line-height: 186%;
	letter-spacing: -0.01em;
	color: var(--veranda-iris);

	@media (width >= 768px) {
		font-size: 16rem;
		padding-right: 10rem;
	}
}

.subscription {
	padding: 24rem;
	background-color: var(--island-aqua);

	@media (width >= 768px) {
		border-radius: 0 0 0 5rem;
		padding: 40rem;
	}
}

.subscription__title {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 18rem;
	letter-spacing: -0.01em;
	color: var(--white);
	margin-bottom: 18rem;
}

.subscription__price {
	font-family: var(--font-family), sans-serif;
	font-weight: 200;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: -0.01em;
	color: var(--white-half-transparent-50);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 11rem;
	margin-bottom: 4rem;

	> strong {
		font-family: var(--font-family), sans-serif;
		font-weight: 600;
		font-size: 32rem;
		letter-spacing: -0.01em;
		color: var(--white);
	}
}

.subscription__text {
	font-family: var(--font-family), sans-serif;
	font-weight: 300;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: -0.01em;
	color: var(--white);
	margin-bottom: 26rem;
}

.why-us {
	padding: 24rem 24rem 24rem 24rem;
	background-color: var(--island-aqua-transparent-85);
	border-radius: 0 0 5rem 5rem;

	@media (width >= 768px) {
		border-radius: 0 0 5rem 0;
		padding: 40rem;
	}
}

.why-us__title {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 18rem;
	letter-spacing: -0.01em;
	color: var(--white);
	margin-bottom: 18rem;
}

.why-us__argument-list {
	position: relative;
}

.argument-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.argument-list__list-item {
	font-family: var(--font-family), sans-serif;
	font-weight: 300;
	font-size: 14rem;
	line-height: 143%;
	letter-spacing: -0.01em;
	color: var(--white-transparent-75);
}